<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/virtualzone-ff263.appspot.com/o/image_2023-02-28_215211139.png?alt=media&token=7c8ee411-ec92-448c-90c8-213ef6ec36d4" type="image/x-icon">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <title>virtualzone</title>
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <main>
        <div class="container-fluid my-5">
            <div class="row">
                <div class="col-6">
                    <img src="" alt="" class="img-fluid w-100" id="imagen">
                </div>
                <div class="col-6 border-start"><h3 class="fw-bold" id="titulo"></h3>
                <h2 class="text-success" id="precio"></h2>
                <div class="row">
                    <div class="col-4"><img src="/assets/img/visa1.png.png" alt="" class="img-fluid h-50" height="10px"></div>
                    <div class="col-4" ><img src="/assets/img/pp.png.png" alt="" class="img-fluid h-50"></div>
                </div>
                <p class="col-6" id="descripcion"></p>
                <i class="bi bi-truck"></i>
                <p>Envio en 24 Horas</p>
                <i class="bi bi-arrow-counterclockwise"></i>
                <p>Devolucion solo en los 5 primeros dias</p>
                <h4>cantidad:</h4>
                <input class="form-control" type="number" name="number" id="number" placeholder="1">
                <br><br>
                <h4>Subtotal:</h4>


                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="/sources/controller/controladorCompra.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>